<h2 myHidden>this is ym1</h2>

    <md-input-container>
      <input mdInput placeholder="First name">
    </md-input-container>

<br>


<md-sidenav-container>
  <md-sidenav #sidenav>
    Jolly good!
  </md-sidenav>
  <div>
    <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>
</md-sidenav-container>
<br>

<span mdTooltip="Tooltip!">I have a tooltip</span>

<br>

<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
</md-menu>